.SearchBox {
  --search-box-label-margin: 10px;
  --search-box-label-width: 2.5em;

  align-items: center;
  display: flex;
  width: 100%;
}

.SearchBox__Result {
  margin-right: var(--search-box-label-margin);
  padding: 2px 3px;
  width: var(--search-box-label-width);

  color: #fff;
  background-color: royalblue;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
}

.SearchBox__Input {
  border: 1px solid #dedede;
  flex-grow: 1;
  font-size: 1em;
  padding: 5px;
  width: calc(100% - var(--search-box-label-margin) - var(--search-box-label-width));

  border-radius: 5px;
}
