.PodcastCover {
  color: #000;
  text-decoration: none;
}

.PodcastCover__Card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px;
  position: relative;
}

.PodcastCover__Image {
  max-height: 100px;
  max-width: 100px;
  position: absolute;

  border-radius: 100%;

  transform: translateY(-50%);
}

.PodcastCover__Title {
  font-size: 1em;
  margin: 60px 0 0 0;

  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.PodcastCover__Subtitle {
  font-size: 1em;
  margin: 0.5em 0 0 0;

  color: #bbb;
  font-weight: 400;
  text-align: center;
}
