.PodcastLayout {
  align-items: flex-start;
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 25vw 1fr;
  grid-template-rows: auto 1fr;
  padding: 30px 10px;
  grid-column-gap: 3vw;
}

.PodcastLayout__Left {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.PodcastLayout__Top {
  grid-column: 2;
  grid-row: 1;
}

.PodcastLayout__Bottom {
  grid-column: 2;
  grid-row: 2;
}

.PodcastLayout__Card {
  padding: 20px 10px;
}

.PodcastLayout__Cover {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 10vw;
}

.PodcastLayout__Img {
  max-width: 100%;

  border-radius: 5px;
}

.PodcastLayout__Separator {
  border: 0;
  height: 1px;
  margin: 1.5em 0;

  background-color: #dedede;
}

.PodcastLayout__Title,
.PodcastLayout__Subtitle,
.PodcastLayout__Heading {
  margin: 0;
}

.PodcastLayout__Title {
  font-size: 1.25em;
}

.PodcastLayout__Subtitle {
  font-size: 1em;

  font-style: italic;
  font-weight: normal;
}

.PodcastLayout__Heading {
  font-size: 1em;
}

.PodcastLayout__Description {
  margin: 1em 0 0;

  font-style: italic;
}

.PodcastLayout__Description p {
  margin: 0;
}

.PodcastLayout__Description p:not(:last-of-type) {
  margin-bottom: 1em;
}

.PodcastLayout__Link {
  color: currentColor;
  text-decoration: none;
}
