.Episodes {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.Episodes__Title {
  width: 70%;

  text-align: left;
}

.Episodes__Date {
  width: 15%;

  text-align: left;
}

.Episodes__Duration {
  width: 15%;

  text-align: center;
}

.Episodes__Link {
  color: blue;
  text-decoration: none;
}

.Episodes__Link:hover {
  text-decoration: underline;
}

.Episodes__Item:not(:last-of-type) {
  border-bottom: 1px solid #dedede;
}

.Episodes__Item:nth-of-type(2n + 1) {
  background-color: #eee;
}

.Episodes__Cell {
  padding: 15px 10px;
}

.Episodes__Header {
  border-bottom: 1px solid #ccc;
}
