.Loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  width: 100%;

  border-radius: 5px;
}

.Loader__Text {
  font-weight: 900;
  text-transform: uppercase;
}
