.Layout {
  --layout-height: 100vh;
  --layout-header-height: 60px;

  display: flex;
  flex-direction: column;
  min-height: var(--layout-height);
}

.Layout__Header {
  height: var(--layout-header-height);
}

.Layout__Main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.LayoutHeader {
  align-items: center;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.LayoutHeader__Title {
  font-size: 1.5em;
  margin: 0;
}

.LayoutHeader__Link {
  color: royalblue;
  text-decoration: none;
}
